.jumbotron {
  padding-top: 6rem;
  background-color: #ffc91b;
}

.card {
  size-adjust: 6rem;
}
.blockquote-footer {
  padding-top: 1rem;
}

#projects {
  background-color: #ffc91b;
}

section {
  padding-top: 6rem;
}
