.d-none {
  display: none;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #070f32;
}

#kolomFAQsdihome {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#wavesebelumalur {
  padding-top: 5rem;
}

.tombolFAQs {
  margin-top: 1rem;
}

#tutorialLibra {
  padding-top: 3rem;
}

.videowrapper {
  position: relative;
  padding-bottom: 50%;
  padding-top: 15rem;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
}

.videowrapper iframe {
  position: absolute;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  top: 2rem;
  right: 0px;
  height: 80%;
  width: 80%;
}

#gelombangkrem {
  padding-top: 4rem;
}

.blockquote-footer {
  padding-top: 1rem;
}

#projects {
  background-color: #424007;
}

#billing {
  background-color: #e0d5b7;
}

section {
  padding-top: 6rem;
}

.accordion {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

.accordion-button {
  background-color: #424007;
  color: white;
  text-align: left;
}

.accordion-body {
  background-color: #e0d5b7;
}
