.d-none {
  display: none;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #070f32;
}

#kolomFAQsdihome {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#wavesebelumalur {
  padding-top: 5rem;
}

.tombolFAQs {
  margin-top: 1rem;
}

.blockquote-footer {
  padding-top: 1rem;
}

#projects {
  background-color: #424007;
}

#billing {
  background-color: #e0d5b7;
}

section {
  padding-top: 6rem;
}

.accordion {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

.accordion-button {
  background-color: #424007;
  color: white;
  text-align: left;
}

.accordion-body {
  background-color: #e0d5b7;
}
